html
  head
    link(rel='stylesheet', type='text/css', href='/assets/clock.css')
  body
    #clock.clocks
      canvas#canvas(width='500', height='500')
    script(data-main='/js/clock', src='/js/vendor/require.js')